<p style="color: green"><%= notice %></p>

<% content_for :title, "Posts" %>

<h1>Posts</h1>
<span id="posts_count">
  <%= Post.count %>
</span>
<%= turbo_stream_from :posts_list %>
<div id="all-posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
      <%= render 'comments/comments', post: post %>      
    </p>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
